h1 {
  font-size: 10rem;
  font-weight: 500;
  margin: auto;
  width: 100%;
  text-align: center;
  filter: blur(2px);
}

.result {
  font-size: 2rem;
  font-family: "Arial Narrow";
  font-weight: 500;
  filter: blur(0.5px);
  margin: 0 3rem;
}

.guess {
  font-size: 4rem;
  filter: blur(1px);
  margin-bottom: 10rem;
}

.score {
  position: fixed;
  width: 100%;
  bottom: 2%;
  align-self: center;
}

.main {
  display: flex;
  flex-direction: column;
}
